global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  300s
    timeout server  300s

frontend postgres_front
    bind *:5432
    default_backend postgres_back

backend postgres_back
    balance roundrobin
    option pgsql-check user ${DB_USER}
    server db1 db1:5432 check
    server db2 db2:5432 check
